<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QFTP -->
      <package
            uri="http://www.eclipse.org/sirius/sample/QFTP"
            class="org.eclipse.sirius.sample.QFTP.QFTPPackage"
            genModel="model/QFTP.genmodel"/>
   </extension>

</plugin>
